*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0E001D;
    color: #F1FFE2;
    min-height: 100vh;
    line-height: 1.5;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
header{
  pointer-events: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
}
nav a:hover{
    color: white;
}

